<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjl.vage">

    <application>
        <activity android:name="com.zjl.vage.PotatoActivity" />
        <activity android:name="com.zjl.vage.TomatoActivity" />
        <activity android:name="com.zjl.vage.RobotActivity" />
    </application>
</manifest>